body{
				margin: 0;
				padding: 0;
				box-sizing: border-box;
				background: rgb(80,80, 80);

           }

     
	
		.header{
             
				background: rgba(50,50,50,1);
				display: flex;
				align-items: center;
				height: 80px;
			
		     }  

         #container{
			    
			 display: flex;
			 flex-wrap: wrap;
			 justify-content: center;

         }
         
         

		.footer{
				background: rgb(80,80, 80);
				height: 80px;
		     }
		.outer{
			   height: 40px;width:150px;background: rgb(80,80, 80);margin-left: 8px;border-radius: 2px;
			   cursor: pointer;
			   display: flex;
			   align-items: center;
			   justify-content: center;
		}     
		
		#inpt{
			background: rgb(65, 65, 65);
			height: 30px;
			border-radius: 7px;
			padding-left: 16px;
			color: white;
			font-size: 20px;

		}
		.instruction{
			display: flex;
            flex-direction: column;
			align-items: center;
			background: rgb(45, 50, 90);
			
			color: aquamarine;
		}
		button{
			padding: 5px 10px;
			background: transparent;
			border: transparent;

			color: papayawhip;
			font-size: 20px;
			cursor: pointer;
		}
		
		









.movie{
         	position: relative;
         	width: 278px;
         	height: 380px;
         	border: 10px solid rgb(80,80, 80);
         	margin-bottom: 20px;
         	cursor: pointer;

         	
         }

		
 
    .overlay1{
    position: absolute;
       
    font-size: 16px;
   
    color: white;
    text-align: center;
   
    background:#141c3a;
    cursor: pointer;
  
  }
  .overlay2{
    position: absolute;
    transition: all 0.8s ease;
    opacity: 0;
    background: #141c3a;
   
    height: 100%;
    width:100%;
    top:0;
    left:0;
  }
 

  
  
.movie:hover .overlay2 {
    opacity: 1;
}